<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Bootstrap E-Commerce Template</title>
    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <!-- Fontawesome core CSS -->
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <!--GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!--Slide Show Css -->
    <link href="/static/ItemSlider/css/main-style.css" rel="stylesheet" />
    <!-- custom CSS here -->
    <link href="/static/css/style.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><strong>ALICE'S</strong> E-Shop</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Track Order</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">24x7 Support <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><strong>Call: </strong>+61-000-000-000</a></li>
                            <li><a href="#"><strong>Mail: </strong>info@aliceeshop.com</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><strong>Address: </strong>
                                <div>
                                    Melbourne,<br />
                                    VIC 3000, AUSTRALIA
                                </div>
                            </a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" placeholder="Enter Keyword Here ..." class="form-control">
                    </div>
                    &nbsp; 
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">

        <div class="row">
      
            <div class="col-md-9">
                <div>
                    <ol class="breadcrumb">
                        
                        <li class="active">Computers</li>
                    </ol>
                </div>
                <!-- /.div -->
                <div class="row">
                    <div class="btn-group alg-right-pad">
                        <button type="button" class="btn btn-default"><strong>1235  </strong>items</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                                Sort Products &nbsp;
      <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">By Price Low</a></li>
                                <li class="divider"></li>
                                <li><a href="#">By Price High</a></li>
                                <li class="divider"></li>
                                <li><a href="#">By Popularity</a></li>
                                <li class="divider"></li>
                                <li><a href="#">By Reviews</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

<h3><span style="font-weight:bold;">Provide Billing Information </span></h3>

 
<div class="col-xs-8">
<h4 class="sub-header">Billing address</h4>
  <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-3">First Name</th>
                  <th class="col-md-3">Last Name</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-md-3">
                     <input type="text" id="QtyInput" name="QtyInput" >
                  </td>
                  <td class="col-md-3">
                     <input type="text" id="QtyInput" name="QtyInput"  >
                  </td>

                </tr>
      
              </tbody>
            </table>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-6">Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-md-6">
                  <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">@</span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
                  </div>
                  </td>
                </tr>
              
              <tr>
                 <th class="col-md-6">Email(Optional)</th>
              </tr>
              <tr>
                <td>
          <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
               </td>
              </tr>
              <tr>
                 <th class="col-md-6">Address</th>
              </tr>
              <tr>
              <td>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
               </td>
              </tr>
              <tr>
                 <th class="col-md-6">Address 2(Optional)</th>
              </tr>
              <tr>
              <td>
              <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
               </td>
              </tr>
              </tbody>
            </table>

            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-3">Country</th>
                  <th class="col-md-3">State</th>
                  <th class="col-md-3">Zip</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-md-3">

                    <div class="input-group">
                          <div class="input-group-btn">
                            <button id="btnCountry" type="button" class="btn btn-default dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose... <span class="caret"></span></button>
                            <ul id="dpdCountry" class="dropdown-menu">

                              <li><a  href="javascript:void(0)">Australia</a></li>
                              <li><a href="#">China</a></li>
                              <li><a href="#">USA</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Others</a></li>
                            </ul>
                          </div><!-- /btn-group -->
                       
                        </div><!-- /input-group -->

                  </td>
                  <td class="col-md-3">

                    <div class="input-group">
                          <div class="input-group-btn">
                            <button id="btnState" type="button"  class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose... <span class="caret"></span></button>
                            <ul id="dpdState" class="dropdown-menu">

                              <li><a href="javascript:void(0)">Sydney</a></li>
                              <li><a href="#">Melbourne</a></li>
                              <li role="separator" class="divider"></li>
                              <li><a href="#">Others</a></li>
                            </ul>
                          </div><!-- /btn-group -->
                       
                        </div><!-- /input-group -->


                  </td>
                  <td class="col-md-3">
                     <input type="text" id="QtyInput" name="QtyInput"  >
                  </td>
                </tr>
      
              </tbody>
            </table>

            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            Shipping address is the same as my billing address
            <br/>
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            Save this information for next time
          </div>
</div>
  <div class="col-xs-4">
          <h4 class="sub-header">Select A Payment Option</h4>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-1"></th>
                  <th class="col-md-1"></th>
   
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-md-1" style="vertical-align: middle;">
                    <input type="radio" id="paypalRadio" name="pay_options" value="paypal" >
                    
                  </td>
                   <td class="col-md-1" style="vertical-align: middle;">
                   <div class="product-box">
                    <img src="/static/img/paypal.png" alt="" style="height:40px;"/>
                   </div>
                   </td>
      
                </tr>

<!--                 <tr>
                  <td class="col-md-1" style="vertical-align: middle;">
                    <input type="radio" id="googleRadio" name="pay_options" value="google_pay" >
                    
                  </td>
                   <td class="col-md-1" style="vertical-align: middle;">
                   <div class="product-box">
                    <img src="/static/img/google_pay.png" alt="" style="height:40px;"/>
                   </div>
                   </td>
      
                </tr> -->

                <tr>
                  <td class="col-md-1" style="vertical-align: middle;">
                    <input type="radio" id="googleRadio" name="pay_options" value="visa" >
                    
                  </td>
                   <td class="col-md-1" style="vertical-align: middle;">
                   <div class="product-box">
                    <img src="/static/img/visa.png" alt="" style="height:40px;"/>
                   </div>
                   </td>
      
                </tr>
                <tr>
                  <td class="col-md-1" style="vertical-align: middle;">
                    <input type="radio" id="googleRadio" name="pay_options" value="mastercard" >
                    
                  </td>
                   <td class="col-md-1" style="vertical-align: middle;">
                   <div class="product-box">
                    <img src="/static/img/mastercard.png" alt="" style="height:40px;"/>
                   </div>
                   </td>
      
                </tr>
                <tr>
                  <td class="col-md-1" style="vertical-align: middle;">
                    <input type="radio" id="googleRadio" name="pay_options" value="america_express" >
                    
                  </td>
                   <td class="col-md-1" style="vertical-align: middle;">
                   <div class="product-box">
                    <img src="/static/img/america_express.png" alt="" style="height:40px;"/>
                   </div>
                   </td>
      
                </tr>                
                 <tr>
                  <td class="col-md-1"></td>
             
                </tr>
              </tbody>
            </table>


                <!-- /.row -->
          <table class="table">


            <tr >
        
            <td class="col-md-2">
                 <span style="font-weight:bold;"><button onclick="pay()" type="button" class="btn btn-primary">
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 Continue to Checkout
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 </button></span> 

            </td>
            </tr>
        </table>
                      
               <input id="total" type="hidden" value='{{total}}'>
                </div>
                <!-- /.row -->
        



                </div>
                <!-- /.row -->
                
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    

    <!--Footer -->
    <div class="col-md-12 footer-box">


        

            <div class="col-md-4">
                <strong>Our Location</strong>
                <hr>
                <p>
                     Swanston St, Melbourne,<br />
                                    VIC 3000, Australia<br />
                    Call: +61-000-000-000<br>
                    Email: info@aliceeshop.com<br>
                </p>

                2020 www.aliceeshop.com | All Right Reserved
            </div>
          
        </div>
        <hr>
    </div>
    <!-- /.col -->
    <div class="col-md-12 end-box ">
        &copy; 2020 | &nbsp; All Rights Reserved | &nbsp; www.aliceeshop.com | &nbsp; 24x7 support | &nbsp; Email us: info@aliceeshop.com
    </div>
    <!-- /.col -->
    <!--Footer end -->
    <!--Core JavaScript file  -->
    <script src="/static/js/jquery-1.10.2.js"></script>
    <!--bootstrap JavaScript file  -->
    <script src="/static/js/bootstrap.js"></script>
    <!--Slider JavaScript file  -->
    <script src="/static/ItemSlider/js/modernizr.custom.63321.js"></script>
    <script src="/static/ItemSlider/js/jquery.catslider.js"></script>
    <script>
        $(function () {

         $("#dpdCountry li a").click(function(){

          $("#btnCountry:first-child").text($(this).text());
          $("#btnCountry:first-child").val($(this).text());

          });
         $("#dpdState li a").click(function(){

          $("#btnState:first-child").text($(this).text());
          $("#btnState:first-child").val($(this).text());

          });
        });

        function post(path, params, method='post') {

          // The rest of this code assumes you are not using a library.
          // It can be made less wordy if you use one.
          const form = document.createElement('form');
          form.method = method;
          form.action = path;

          for (const key in params) {
            if (params.hasOwnProperty(key)) {
              const hiddenField = document.createElement('input');
              hiddenField.type = 'hidden';
              hiddenField.name = key;
              hiddenField.value = params[key];

              form.appendChild(hiddenField);
            }
          }

          document.body.appendChild(form);
          form.submit();
        }

        function pay() {
          console.log('pay')
           var checked_pay = document.querySelector('input[name = "pay_options"]:checked');
          var total = $('#total').val();
          console.log(total);
          if(checked_pay != null){  //Test if something was checked
         //Alert the value of the checked.
          switch(checked_pay.value) {
            case "paypal":
            case "visa":
            case "mastercard":
            case "america_express":
              // code block
              window.location.href  = "/paypal/"+ total;

               console.log(checked_pay.value); 
              break;
            // case "google_pay":
              // code block
              break;
            default:
              // code block
              console.log('unhandle pay options')
          }

          } else {
          alert('Nothing checked'); //Alert, nothing was checked.
          }
          };

        </script>
</body>
</html>
