<html>
<head><title>AppLine</title>
</head>

<body onload="get_url_parameter_and_set_doms();">

<label for="item">Item Name:</label>
<select name="select_Items" id="ddlItem">
  {% for item in all_item_list %}

  <option value="{{item.i_id}}"> {{ item.i_name }}({{item.i_id}}) </option>

  {% endfor %}
</select>

<button  onclick="search_and_action('item')" >Search Warehouse of Item</button>

<br/>
Warehouse Name of item [
<span id='lblItem0' style="color:red; font-size:24px;background-color:pink"></span> ] :

<select name="select_Warehouse" id="ddlWarehouse">
  {% for r in wlist %}

  <option value="{{r.w_id}}"> {{ r.w_name }} ( {{ r.w_id}} )</option>

  {% endfor %}
</select>

<button  onclick="search_and_action('warehouse')" >Search Stock</button>

<br/>
Stocks Qty of item [
<span id='lblItem1' style="color:red; font-size:24px;background-color:pink"></span> ] in Warehouse [
<span id='lblWarehouse' style="color:blue; font-size:24px;background-color:pink"></span>
] is:

<table>
  {% for r in slist %}
    {% cycle '<tr>' '' '' '' '' '' '' '' %}
      <td>{{r.s_qty}}</td>
    {% cycle '' '' '' '' '' '' '' '</tr>' %}
  {% endfor %}
</table>

<br/>
<label for="order_delivery_choose">Choose a action:</label>

<select name="actions" id="ddlAction">
  <option value="order">Order</option>
  <option value="delivery">Delivery</option>

</select>

<button type="button" class="quantity-arrow-minus">-</button>
    <input type="number" id="qtyInput" class="update_cart" value="0">
    <button type="button" class="quantity-arrow-plus">+</button>
<span>&nbsp;</span>
<button  onclick="search_and_action('action')" >action</button>
<button  onclick="clean()" >clean to restart</button>
<br/>
{% if still_can_order_flag == 'T' %}
<span  style="color:blue; font-size:24px;background-color:pink">Your line order or delivery has been accepted</span>
{% elif still_can_order_flag == 'F' %}
<span  style="color:red; font-size:24px;background-color:pink">Insufficient stock</span>

{% endif %}




<br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/>



<script>
// setting of quantity-arrow-plus
var minus = document.querySelectorAll('.quantity-arrow-minus');
var update_cart = document.querySelectorAll('.update_cart');
var plus = document.querySelectorAll('.quantity-arrow-plus');

minus.forEach(function(node) {
    node.addEventListener('click', function(e) {
       const input = e.target.nextElementSibling
       input.value = parseInt(input.value) - 1;
    });
});

plus.forEach(function(node) {
    node.addEventListener('click', function(e) {
       const input = e.target.previousElementSibling
       input.value = parseInt(input.value) + 1;
    });
});



function get_url_parameter_and_set_doms() {
    var url_string = window.location.href;
    var url = new URL(url_string);
    var item_id = url.searchParams.get("item_id");
    var warehouse_id = url.searchParams.get("warehouse_id");
    var qty = url.searchParams.get("qty");
    console.log(item_id, warehouse_id, qty);
    document.getElementById('ddlItem').value=item_id;
    document.getElementById('ddlWarehouse').value=warehouse_id;

    document.getElementById("lblItem0").innerHTML = item_id;
    document.getElementById("lblItem1").innerHTML = item_id;


    document.getElementById("lblWarehouse").innerHTML = warehouse_id;
    if(qty != null && qty != '') {
        document.getElementById("qtyInput").value = qty;
    }
}

function search_and_action(typename) {
    var i = document.getElementById("ddlItem");
    var item_id = i.options[i.selectedIndex].value;

    var w = document.getElementById("ddlWarehouse");
    console.log('w=', w, w.selectedIndex)
    var warehouse_id = -1;
    if (w.selectedIndex != -1) {
      warehouse_id = w.options[w.selectedIndex].value;
    }




    var e = document.getElementById("ddlAction");
    var action = e.options[e.selectedIndex].value;
    var qty =  document.getElementById("qtyInput").value;

    


    location.href = "?item_id="+item_id + "&warehouse_id="+warehouse_id+"&action="+action+"&qty="+qty;

};

function clean() {
  window.location = window.location.href.split("?")[0];
}
</script>

</body>
</html>