<html>
<head><title>AppLine</title>
</head>

<body onload="get_url_parameter();">

<label for="item">Item Name: (like: Indapamide,Glyburide ...)</label>
<input type="text" id="itemInput" placeholder="Enter item name ..."
    style="width:300px;">

<button  onclick="search('item')" >Search Item</button>

<br/>
Warehouse of item [
<span id='lblItem0' style="color:red; font-size:32px;background-color:pink"></span> ] is following:

<table>
  {% for r in wlist %}
    {% cycle '<tr>' '' '' '' '' '' '' '' %}
      <td>{{r.w_name}}</td>
    {% cycle '' '' '' '' '' '' '' '</tr>' %}
  {% endfor %}
</table>


<label for="warehouse">WareHouse Name: (like: DabZ,Skippad,Topiczoom ...)</label>
<input type="text" id="warehouseInput" placeholder="Enter warehouse name ..."
    style="width:300px;">

<button  onclick="search('warehouse')" >Search Warehouse</button>

<br/>
Stocks Qty of item [
<span id='lblItem1' style="color:red; font-size:32px;background-color:pink"></span> ] in Warehouse [
<span id='lblWarehouse' style="color:blue; font-size:32px;background-color:pink"></span>
]
is following:

<table>
  {% for r in slist %}
    {% cycle '<tr>' '' '' '' '' '' '' '' %}
      <td>{{r.s_qty}}</td>
    {% cycle '' '' '' '' '' '' '' '</tr>' %}
  {% endfor %}
</table>



<br/><br/><br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/>
<script>



function get_url_parameter() {
    var url_string = window.location.href;
    var url = new URL(url_string);
    var item = url.searchParams.get("item");
    var warehouse = url.searchParams.get("warehouse");
    console.log(item, warehouse);
    document.getElementById("itemInput").value = item;
    document.getElementById("lblItem0").innerHTML = item;
    document.getElementById("lblItem1").innerHTML = item;
    document.getElementById("warehouseInput").value = warehouse;
    document.getElementById("lblWarehouse").innerHTML = warehouse;
}

function search(typename) {
    var item = '';
    var warehouse = ''
    item = document.getElementById("itemInput").value;
    warehouse = document.getElementById("warehouseInput").value;

    location.href = "?item="+item + "&warehouse="+warehouse;

};
</script>

</body>
</html>