# numpy
# matplotlib
click
coverage
eventextraction
Flask
html-similarity
itsdangerous
pandas
pytest
python-dotenv
pytest-cov
flask-wtf
flask-cors
Flask-Login
flask_sqlalchemy
requests

#termcolor
#pdfreader