# numpy
# matplotlib
click
coverage
Flask
html-similarity
itsdangerous
pandas
pytest
python-dotenv
pytest-cov
flask-wtf
flask-cors
Flask-Login
flask_sqlalchemy
requests

termcolor
#pdfreader
flask_caching==2.0.2
Werkzeug==2.0.0
termcolor==2.2.0